@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Covered+By+Your+Grace&family=Rock+Salt&display=swap');
body {
  background: teal;
  font-family: 'Amatic SC', cursive;
  font-size: 1.2rem;
}

ul,
form {
  list-style-type: none;
  padding: 0;
  margin: 15px;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  background-color: rgba(245, 222, 179, 0.6);
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}

h1,
h2 {
}

#home {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

#title {
  font-size: 46px;
}

#headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: wheat;
  border-radius: 15px;
  padding: 15px;
  margin: 5px;
  background-size: 100%;
  background-position: 50% 60%;
  height: 175px;
}

#centerHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#mainContainer {
  display: flex;
  justify-content: flex-start;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 750px;
  border-radius: 5px;
}

#filterContainer {
  background-color: wheat;
  border-radius: 15px;
  margin: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

#filterHeader {
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter {
  margin-top: 5px;
  margin-bottom: 0;
}

.filterTitle {
  margin-top: 5px;
  margin-bottom: 0;
  text-align: left;
  font-weight: bolder;
}

.driveLegend {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.card,
.completedCard {
  background-color: rgb(211, 231, 154);
  width: 250px;
  height: 350px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* flex: auto; */
}

.card {
  background-color: wheat;
}

#filterContainer,
.card {
  box-shadow: 1px 3px 5px 5px rgb(7, 116, 116);
}

.cardHead {
  height: 125px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-size: 100%;
  border-radius: 10px 10px 0px 0px;
}

.cardHeadLeft,
.cardHeadRight {
  width: 75px;
}

.cardHeadRight {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.cardHeadCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fourWheelDrive,
.favorite {
  width: 50px;
  border-radius: 10px;
}

.mountainImg {
  height: 50px;
  width: 100%;
  background-size: 100%;
}

.details {
  display: flex;
  flex-direction: column;
}

.completionDate,
.completionTime {
  color: green;
}

.moreInfo {
  height: 35px;
  width: 175px;
  margin-bottom: 5px;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
}
