body {
  background: teal;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 15px;
}

h3,
h4 {
  background-color: wheat;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#title {
  font-size: 46px;
}

#headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: wheat;
  border-radius: 5px;
  padding: 15px;
}

#centerHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#mainContainer {
  display: flex;
  justify-content: flex-start;
}

#cardContainer {
  display: flex;
  flex: 5 1 auto;
  flex-wrap: wrap;
}

#filterContainer {
  background-color: wheat;
  border-radius: 15px;
  margin: 5px;
  display: flex;
  width: 200px;
  flex-direction: column;
  flex: 1 1 auto;
}

.card {
  background-color: wheat;
  width: 250px;
  height: 300px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cardHead {
  height: 125px;
  display: flex;
  justify-content: space-between;
  background-size: 100%;
  border-radius: 10px 10px 0px 0px;
}

.cardHeadLeft,
.cardHeadRight {
  width: 75px;
}

.cardHeadRight {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.fourWheelDrive,
.favorite {
  width: 50px;
  border-radius: 10px;
}

.mountainImg {
  height: 50px;
  width: 100%;
  background-size: 100%;
}

.details {
  display: flex;
  flex-direction: column;
}

.completionDate,
.completionTime {
  color: green;
}

.moreInfo {
  height: 25px;
  width: 150px;
}
